<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}
  <body>
   {% include header.html %}
    <section id="page" class="container content-section text-center">
	     <div class="row">
	        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">

            {{ page.content | markdownify }}

	           <div>
               {% for post in site.posts | sort:"date" | reverse | limit: 5 %}
                {% include post-list.html %}
               {% endfor %}
	           </div>
		<a href="/blog/" style="color:#b5e853">See more...</a>
            {% include pagination.html %}

	        </div>
	     </div>
     </section>
  </body>
</html>
