<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}
    <body>
      {% include header.html %}

      <div class="container">
        <small>{{ page.date | date: "%-d %B %Y" }}</small>
          <h1>{{ page.title }}</h1>
            <i><p class="view">by {{ page.author | default: site.author }}</p></i>

              {{content}}

              {% if page.tags != empty %}
                <!--<small>tags: {{ page.tags | array_to_sentence_string }}</small> -->
                <small>
                  tags:
                  {% for tag in page.tags %}
                    {% capture tag_name %}{{ tag }}{% endcapture %}
                    <a href="/tags/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code></a>&nbsp;
                  {% endfor %}
                </small>
              {% endif %}
